<mat-toolbar color="black">
    <div class="col-12 text-center mb-4" style="width: 11em; position: relative; left: 49em; top: 7em;"><img src="../assets/images/ZEZHA LOGOS.svg" style="width: 7em; position: relative; left: -47em; top: 1em;"></div>
    <mat-icon svgIcon="facebook" style="font-size: 29em;position: relative;left: 7px;"></mat-icon>
    <mat-icon svgIcon="twitter" style="font-size: 29em;position: relative;left: 15px;"></mat-icon>
    <mat-icon svgIcon="linkedIn" style="font-size: 29em;position: relative;left: 25px;"></mat-icon>
    <mat-icon svgIcon="youtube" style="font-size: 29em;position: relative;left: 35px;"></mat-icon>
    <mat-icon svgIcon="instagram" style="font-size: 29em;position: relative;left: 45px;"></mat-icon>
    <h6 style="color: aliceblue; position: relative; left: 54em; bottom: -12.6em; font-size: initial;font-family: Times New Roman, Times, serif;">Download on</h6>
    <mat-icon svgIcon="playstore" style="font-size: 29em;position: relative;left: 880px;bottom: -2px;"></mat-icon>
    <mat-icon svgIcon="appstore" style="font-size: 29em;position: relative;left: 890px;bottom: -2px;"></mat-icon>
</mat-toolbar>
