.form-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .form-group {
    display: block;
    margin: 1rem;
  }
  
  button[type="submit"] {
    margin: 1rem auto;
  }

  body {
    background-image: url("/assets/images/registrationBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-loader {
    width: 50px;
    height: 50px;
    color: #FF0000; /* Replace with your desired color */
  }
  
  .logo-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Preserve aspect ratio */
    margin-left: 10px; /* Add margin between the loader and the image */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 9999; /* Ensure the overlay appears on top of other elements */
  }

  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000; 
  }
  
  .spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Adjust the z-index value as needed */
  }
  
  .custom-spinner {
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .spinner {
    width: 100%;
    height: 100%;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spinner-rotate 1s infinite linear;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @keyframes spinner-rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Add styles to position your logo/content in the middle */
    /* Adjust the following properties to fine-tune the positioning */
    margin-top: 0.5em; /* Increase or decrease the value to move the logo up or down */
    margin-left: 0.5em; /* Increase or decrease the value to move the logo left or right */
  }