<app-sidebar></app-sidebar>
<section class="about">
    <div class="container">
        <h2>About Us</h2>
        <img src="https://zezha-talent.s3.amazonaws.com/portalImages/aboutImg1.jpg" alt="Need A Job" width="500" height="600">
        <h1></h1>
        <p>
        At <span class="brand">Your Zezha Talents</span>, we are dedicated to connecting job seekers with their dream jobs and helping employers find the perfect candidates. Our platform is designed to simplify the job search process and make hiring effortless.
        </p>
        <p>
        We understand that finding the right job can be challenging, and that's why we provide a comprehensive database of job listings from various industries and sectors. Whether you're a recent graduate, a seasoned professional, or an employer searching for talent, we've got you covered.
        </p>
        <p>
        Our user-friendly interface allows job seekers to search for jobs based on their preferences, such as location, job title, and salary range. With advanced search filters and personalized recommendations, we ensure that you find the most relevant opportunities that match your skills and aspirations.
        </p>
        <p>
        For employers, our platform offers a range of tools and features to streamline the hiring process. You can create and manage job postings, review applications, and communicate with potential hires all in one place. We also provide options for targeted job promotion and employer branding to attract top talent.
        </p>
        <p>
        With our extensive job listings, advanced search capabilities, and dedicated support, we are committed to helping job seekers and employers achieve their goals. Join us today and let us be your partner in success.
        </p>
        <img src="https://zezha-talent.s3.amazonaws.com/portalImages/aboutImg2.jpg" alt="Need A Job" width="500" height="600">
        <h1 style="color: blue;">For Job Seekers:</h1>
        <p>
        We strive to empower job seekers by offering a comprehensive and diverse range of job listings across various industries and sectors. 
        Our platform provides a user-friendly interface that allows you to search for jobs based on your preferences, such as location, job title, and salary range. 
        With advanced search filters and personalized recommendations, you can save time and find relevant job opportunities that align with your skills and aspirations. 
        We also offer resources, career tips, and guidance to help you enhance your job search and make informed decisions about your career path.
        </p>
        <h1 style="color: blue;">For Employers:</h1>
        <p>
            At Your Zezha Talents, we understand that finding the right talent is crucial for your organization's success.
            Our platform offers a wide range of tools and features designed to streamline your hiring process and connect you with qualified candidates efficiently.
            You can create and manage job postings, review candidate applications, and communicate with potential hires all within our intuitive employer dashboard.
            We also provide options for targeted job promotion and employer branding to help you attract top talent and build a strong employer brand.
        </p>
        
    </div>
</section>
<app-footer></app-footer>
