<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="col-12 text-center mb-4" style="width: 11em; position: relative; left: 49em; top: 7em;"><img src="../assets/images/ZEZHA LOGOS.svg" style="width: 15em; position: relative; left: -2em; top: -8em;"></div>
<mat-card class="login-card" style="top: -14em;width: 20em;">
  <form [formGroup]="form" #editform (ngSubmit)="editForm(editform1)">
<div class="gender-selection">
  <label style="position: relative; left: -21px;">
    <input type="radio" name="gender" value="legends" (click)="selectLegend()">
    <div class="male">
      <img src="assets/images/employer.svg">
      <span>Employer</span>
    </div>
  </label>
  <label style="position: relative; left: 21px;">
    <input type="radio" name="gender" value="heads" (click)="selectHead()">
    <div class="female">
      <img src="assets/images/recruiter.svg">
      <span>Recruiter</span>
    </div>
  </label>
</div>
</form>
<div class="signup-link">
  <span>Don't have an account? </span>
  <a mat-button routerLink="/registration" routerLinkActive="active" color="accent" style="position: relative; left: 23px;">Sign Up</a>
</div>
</mat-card>
<mat-card class="login-card" style="top: -25em;width: 20em;" *ngIf="selectedGender">
  <form [formGroup]="form" #editform (ngSubmit)="editForm(editform1)">
    <mat-form-field>
      <input matInput placeholder="Email" type="email" name="email" formControlName="username" required>
    </mat-form-field>
  
    <!-- <mat-form-field>
      <input matInput placeholder="Password" type="password" name="password" formControlName="password" required>
    </mat-form-field> -->

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <!-- <ngx-recaptcha2 [siteKey]="your_site_key" (onSuccess)="handleSuccess()" (onError)="handleError()"></ngx-recaptcha2> -->

    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
    <button mat-raised-button color="primary" type="submit">Login </button>

  </form>
</mat-card>
</body>
</html>
