<app-sidebar></app-sidebar>
<mat-card>
    <section class="how-it-works">
        <div class="container">
          <h2>How Does It Work?</h2>
          <div class="step">
            <div class="step-number">1</div>
            <div class="step-content">
              <h3>Create an Account</h3>
              <p>
                Start by creating a free account on our Zezha Technology. Provide your basic information and set up your profile. This will help employers understand your skills and qualifications.
              </p>
            </div>
          </div>
          <div class="step">
            <div class="step-number">2</div>
            <div class="step-content">
              <h3>Login Your Account</h3>
              <p>
                Enter Your Username and Password, and Login to Zezha Technology.
              </p>
            </div>
          </div>
          <div class="step">
            <div class="step-number">3</div>
            <div class="step-content">
              <h3>Update Your Profile</h3>
              <p>
                Update Your Profile by Entering Personal Details.
              </p>
            </div>
          </div>
          <div class="step">
            <div class="step-number">4</div>
            <div class="step-content">
              <h3>Apply for Jobs</h3>
              <p>
                Once you find a job that interests you, review the job details and requirements. Prepare your application materials, such as your resume and cover letter, and submit them directly through our platform.
              </p>
            </div>
          </div>
          <div class="step">
            <div class="step-number">4</div>
            <div class="step-content">
              <h3>Connect with Employers</h3>
              <p>
                Employers who are interested in your application will reach out to you through our Email. You can communicate with them, schedule interviews, and ask any questions related to the job opportunity.
              </p>
            </div>
          </div>
          <div class="step">
            <div class="step-number">5</div>
            <div class="step-content">
              <h3>Land Your Dream Job</h3>
              <p>
                Work closely with employers during the interview and selection process. Once you successfully pass the hiring process, you'll be on your way to landing your dream job. Congratulations!
              </p>
            </div>
          </div>
        </div>
      </section>
</mat-card>
<app-footer></app-footer>