mat-card {
    width: 500px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  mat-card-header {
    background-color: #eee;
  }
  
  mat-card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
  }
  
  mat-card-content {
    margin: 10px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }