<mat-toolbar style="background-color: black;" class="example-toolbar">
	<!-- <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name" style="font-family: ui-monospace;" >Welcome</h1> -->
	<div class="col-12 text-center mb-4" style="width: 11em; position: relative; left: 49em; top: 7em;"><img src="../assets/images/sidebarLogo.svg" style="width: 4em; position: relative; left: -47em; top: -6.8em;"></div>
	<button mat-button style="position: relative; left: 49em;color: aliceblue;">How Does it Works</button>
	<button mat-button [matMenuTriggerFor]="menu" style="position: relative; left: 49em;color: aliceblue;">Company</button>
	<mat-menu #menu="matMenu" style="color: aliceblue;">
		<button mat-menu-item>About</button>
		<button mat-menu-item>Careers</button>
		<button mat-menu-item>Blogs</button>
	</mat-menu>
	<mat-icon svgIcon="homeIcon" style="position: relative; left: 47em;cursor: pointer;color: aliceblue;" routerLink="/dashboard"></mat-icon>
	<h1 class="profile" [matMenuTriggerFor]="menu1" style="cursor: pointer;"><mat-icon svgIcon="profile"></mat-icon></h1>
	<mat-menu #menu1="matMenu" class="menu-overflow-hidden" x-position="before">
		<span mat-menu-item style="position: relative; left: 4em; top: 0em;" class="profile" ><mat-icon svgIcon="profile" style="color: aliceblue;"></mat-icon></span>
		<span style="position: relative; left: 3.5em; font-size: smaller; font-weight: 300; font-style: italic;">Hello {{name}}</span>
		 <button mat-menu-item  >
		   <mat-icon></mat-icon>
		  <span style="position: relative; left: -25px;  font-weight: unset; font-style: normal;" (click)="logout()"><mat-icon>power_settings_new</mat-icon>LOGOUT</span>
		</button> 
	</mat-menu> 
	<!-- <mat-sidenav-container class="example-container" autosize>
		<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
			<mat-nav-list>
				<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
					<span class="full-width" *ngIf="isExpanded || isShowing">Home</span>
					<mat-icon mat-list-icon svgIcon="homeIcon"></mat-icon>
				</mat-list-item>
			</mat-nav-list>
		<mat-nav-list>
	</mat-nav-list>
	</mat-sidenav>
	</mat-sidenav-container> -->

</mat-toolbar>

