<app-sidebar></app-sidebar>
<section class="career">
    <div class="container">
      <h2>Career Page</h2>
      <p>
        Thank you for visiting our Career Page. We are excited to announce that it will be opening soon. Stay tuned for a wide range of job opportunities that will help you take the next step in your career.
      </p>
      <p>
        We are committed to connecting job seekers with their dream jobs and providing employers with top talent. Our platform will offer a user-friendly interface, advanced search options, and personalized recommendations to enhance your job search or hiring process.
      </p>
      <p>
        To stay updated and be notified when our Career Page opens, please subscribe to our mailing list. We will keep you informed about the launch date, exciting features, and other important updates. You don't want to miss out!
      </p>
      <div class="subscribe-form">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" placeholder="Enter your email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" style="position: relative; top: -10px;">Subscribe</button>
      </div>
    </div>
</section>
<app-footer></app-footer>