.login-card {
    max-width: 360px;
    margin: 165px auto;
    padding: 30px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #F2F2F2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #F2F2F2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  td:first-child, th:first-child {
    border-left: none;
  }
  
  td:last-child, th:last-child {
    border-right: none;
  }
  
  td, th {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  .wide-table {
    width: 80%;
    position: relative;
    left: 21em;
    top: -11em;
  }

  input {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 300px;
    font-size: 16px;
    outline: none;
  }
  
  input:focus {
    border-color: #2196f3;
  }


  .carousel-container {
    width: 100%;
    height: 300px; /* set the height as per your requirement */
    position: relative;
  }
  
  mat-carousel {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  mat-carousel-slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }