<app-sidebar></app-sidebar>
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup"  #editform (ngSubmit)="editForm(editform1)">
        <ng-template matStepLabel>Fill out your Personal Details</ng-template>
        <mat-card style="width: 40em; height: 27em;left: 3em; top: 6em;background-color: aliceblue;">
          <mat-card-content>
            <div>
              <mat-form-field style="left: 2em;">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First name" formControlName="firstName" value="Avinash" required>
              </mat-form-field>
              <mat-form-field style="left: 12em;">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last name" formControlName="lastName" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="left: 2em;">
                <mat-label>Mobile No.</mat-label>
                <input matInput placeholder="Mobile No." formControlName="mobileNo" required>
              </mat-form-field>
              <mat-form-field style="left: 12em;">
                <mat-label>Email Id</mat-label>
                <input matInput placeholder="Email Id" formControlName="email" required>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="form-group" style="left: 2em;">
                <input matInput type="date" placeholder="Date of Birth" formControlName="dob"  required>
              </mat-form-field>
              <mat-form-field class="form-group" style="left: 12em;">
                <mat-label>Gender</mat-label>
                <mat-select required  formControlName="gender">
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="form-group" style="left: 2em;">
                <mat-label>Work Status</mat-label>
                <mat-select required  formControlName="workStatus" (selectionChange)="handleSelectionChange($event)">
                  <mat-option value="fresher">Fresher</mat-option>
                  <mat-option value="experienced">Experienced</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div style="left: 2em;">
              <button mat-button matStepperNext color="primary" style="left: 10px;" (click)="callMyClass()">Next</button>
            </div>
          </mat-card-content>
        </mat-card>

        <div *ngIf="selectedType === 'experienced'">
          <mat-card style="width: 40em; height: 16em;left: 56em; top: -24em;background-color: cornsilk;">
            <mat-card-content>
              <div>
                <mat-form-field class="form-group" style="left: 2em;">
                  <mat-label>Employment Type</mat-label>
                  <mat-select required  formControlName="employment_type">
                    <mat-option value="Full Time">Full Time</mat-option>
                    <mat-option value="Part Time">Part Time</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field style="left: 12em;">
                  <mat-label>Industry Type</mat-label>
                  <input matInput placeholder="Industry Type" formControlName="industry_type" required>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field style="left: 2em;">
                  <mat-label>Expected Salary</mat-label>
                  <input matInput placeholder="Mobile No." formControlName="expected_salary" required>
                </mat-form-field>
                <mat-form-field style="left: 12em;">
                  <mat-label>Current Salary</mat-label>
                  <input matInput placeholder="Email Id" formControlName="current_salary" required>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field style="left: 2em;">
                  <mat-label>Preferred Location</mat-label>
                  <input matInput placeholder="Email Id" formControlName="preferredLocation" required>
                </mat-form-field>
              </div>
              <!-- <div style="left: 2em;">
                <button mat-button matStepperNext color="primary" style="left: 10px;">Next</button>
              </div> -->
            </mat-card-content>
          </mat-card>
        </div>
      </form>
    </mat-step>
    <!-- #docregion label -->
    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <!-- #enddocregion label -->
      <form [formGroup]="secondFormGroup"  #editform (ngSubmit)="editForm1(editform1)">

        <mat-card style="width: 40em; height: 16em;left: 3em; top: 6em;background-color: aliceblue;">
          <mat-card-content>
            <div>
              <mat-form-field style="left: 2em;">
                <mat-label>Current Address</mat-label>
                <input matInput placeholder="Current Address" formControlName="cur_address" value="Avinash" required>
              </mat-form-field>
              <mat-form-field class="form-group" style="left: 12em;">
                <mat-label>State</mat-label>
                <mat-select required formControlName="cur_state" (selectionChange)="onStateSelected()">
                  <mat-option *ngFor="let state of states" [value]="state.value">{{ state.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>

              <mat-form-field style="left: 2em;">
                <mat-label>Current City</mat-label>
                <mat-select formControlName="cur_city">
                  <mat-option *ngFor="let city of this.citiesList" [value]="city.value">{{ city.name }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="left: 12em;">
                <mat-label>Current Address Pincode</mat-label>
                <input matInput placeholder="Current Address Pincode" formControlName="cur_pincode" required>
              </mat-form-field>
            </div>
            <mat-checkbox formControlName="same_address" style="position: relative;;left: 2em;" (change)="copyAddress()">Same as current address</mat-checkbox>
          </mat-card-content>
        </mat-card>
        <div>
          <button mat-button matStepperPrevious style="left: 5em; top: 1.5em;">Back</button>
          <button mat-button matStepperNext style="left: 5em;top: 1.5em;">Next</button>
        </div>

        <mat-card style="width: 40em; height: 16em;left: 56em; top: -15em;background-color: aliceblue;">
          <mat-card-content>
            <div>
              <mat-form-field style="left: 2em;">
                <mat-label>Permanent Address</mat-label>
                <input matInput placeholder="Permanent Address" formControlName="per_address" value="Avinash" required>
              </mat-form-field>
              <mat-form-field class="form-group" style="left: 12em;">
                <mat-label>Permanent State</mat-label>
                <mat-select required formControlName="per_state" >
                  <mat-option *ngFor="let state of states" [value]="state.value">{{ state.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="left: 2em;">
                <mat-label>Permanent City</mat-label>
                <mat-select formControlName="per_city">
                  <mat-option *ngFor="let city of this.citiesList" [value]="city.value">{{ city.name }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field style="left: 12em;">
                <mat-label>Permanent Address Pincode</mat-label>
                <input matInput placeholder="Permanent Address Pincode" formControlName="per_pincode" required>
              </mat-form-field>
            </div>
            <!-- <mat-checkbox formControlName="same_address" style="position: relative;;left: 2em;" (change)="copyAddress()">Same as current address</mat-checkbox> -->
          </mat-card-content>
        </mat-card>
      </form>
    </mat-step>

   <!-- Education Details -->
       <!-- #docregion label -->
       <mat-step [stepControl]="thirdFormGroup" label="Fill out your Education Details">
          <form [formGroup]="thirdFormGroup" #editform (ngSubmit)="editForm2(editform1)">
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Class X Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                <div>
                  <mat-form-field style="position: relative;left: 2.5em;">
                    <mat-label>School name</mat-label>
                    <input matInput placeholder="Velammal Matriculation Higher sec school" formControlName="tenth_school" required>
                  </mat-form-field>

                  <mat-form-field class="form-group" style="left: 7.5em;">
                    <mat-label>Board</mat-label>
                    <mat-select required  formControlName="tenth_board">
                      <mat-option value="STATE BOARD">STATE BOARD</mat-option>
                      <mat-option value="CBSE">CBSE</mat-option>
                      <mat-option value="ICSE">ICSE</mat-option>
                      <mat-option value="IB">IB</mat-option>
                      <mat-option value="IGCSE">IGCSE</mat-option>
                      <mat-option value="CAIE">CAIE</mat-option>
                      <mat-option value="OTHERS">OTHERS</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="form-group" style="left: 12.5em;">
                    <mat-label>Medium</mat-label>
                    <mat-select required  formControlName="tenth_medium">
                      <mat-option value="English">English</mat-option>
                      <mat-option value="Hindi">Hindi</mat-option>
                      <mat-option value="Tamil">Tamil</mat-option>
                      <mat-option value="Telugu">Telugu</mat-option>
                      <mat-option value="Kannada">Kannada</mat-option>
                      <mat-option value="Malayalam">Malayalam</mat-option>
                      <mat-option value="Bengali">Bengali</mat-option>
                      <mat-option value="Marathi">Marathi</mat-option>
                      <mat-option value="Gujarati">Gujarati</mat-option>
                      <mat-option value="Urdu">Urdu</mat-option>
                      <mat-option value="Punjabi">Punjabi</mat-option>
                      <mat-option value="Other Medium">Other Medium</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field style="position: relative;left: 17.5em;">
                    <mat-label>Marks in %</mat-label>
                    <input matInput placeholder="Permanent Address Pincode" formControlName="tenth_marks" required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field class="form-group" style="left: 2.5em;">
                    <input matInput type="date" formControlName="tenth_from" required>
                  </mat-form-field>
                  <mat-form-field class="form-group" style="left: 7.5em;">
                    <input matInput type="date" placeholder="To" formControlName="tenth_to"  required>
                  </mat-form-field>
                </div>
                <!-- #docregion action-bar -->
                    <mat-action-row>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                <!-- #enddocregion action-bar -->
                  </mat-expansion-panel>
                
                  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Class XII Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <mat-form-field style="left: 2.5em;">
                      <mat-label>School name</mat-label>
                      <input matInput placeholder="School Name" formControlName="twelth_name" required>
                    </mat-form-field>

                    <mat-form-field class="form-group" style="left: 7.5em;">
                      <mat-label>Board</mat-label>
                      <mat-select required  formControlName="twelth_board">
                        <mat-option value="STATE BOARD">STATE BOARD</mat-option>
                        <mat-option value="CBSE">CBSE</mat-option>
                        <mat-option value="ICSE">ICSE</mat-option>
                        <mat-option value="IB">IB</mat-option>
                        <mat-option value="IGCSE">IGCSE</mat-option>
                        <mat-option value="CAIE">CAIE</mat-option>
                        <mat-option value="OTHERS">OTHERS</mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field class="form-group" style="left: 12.5em;">
                      <mat-label>Medium</mat-label>
                      <mat-select required  formControlName="twelth_medium">
                        <mat-option value="English">English</mat-option>
                        <mat-option value="Hindi">Hindi</mat-option>
                        <mat-option value="Tamil">Tamil</mat-option>
                        <mat-option value="Telugu">Telugu</mat-option>
                        <mat-option value="Kannada">Kannada</mat-option>
                        <mat-option value="Malayalam">Malayalam</mat-option>
                        <mat-option value="Bengali">Bengali</mat-option>
                        <mat-option value="Marathi">Marathi</mat-option>
                        <mat-option value="Gujarati">Gujarati</mat-option>
                        <mat-option value="Urdu">Urdu</mat-option>
                        <mat-option value="Punjabi">Punjabi</mat-option>
                        <mat-option value="Other Medium">Other Medium</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field style="left: 17.5em;">
                      <mat-label>Marks in %</mat-label>
                      <input matInput placeholder="Permanent Address Pincode" formControlName="twelth_mark" required>
                    </mat-form-field>
                    <div>
                      <mat-form-field class="form-group" style="left: 2.5em;">
                        <input matInput type="date" placeholder="From" formControlName="twelth_from"  required>
                      </mat-form-field>
                      <mat-form-field class="form-group" style="left: 7.5em;">
                        <input matInput type="date" placeholder="To" formControlName="twelth_to" required>
                      </mat-form-field>
                    </div>
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                
                  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       UG Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <mat-form-field style="left: 2.5em;">
                      <mat-label>College name</mat-label>
                      <input matInput placeholder="Panimalar Engineering College" formControlName="ug_college" required>
                    </mat-form-field>

                    <mat-form-field class="form-group" style="left: 7.5em;">
                      <mat-label>Degree</mat-label>
                      <mat-select required formControlName="ug_degree" >
                        <mat-option *ngFor="let ugdegree of ugdegrees" [value]="ugdegree.value">{{ ugdegree.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field style="left: 12.5em;">
                      <mat-label>Department</mat-label>
                      <input matInput placeholder="Mechanical Engineering" formControlName="ug_dept" required>
                    </mat-form-field>

                    <mat-form-field style="left: 17.5em;">
                      <mat-label>Marks in %</mat-label>
                      <input matInput placeholder="80" formControlName="ug_mark" required>
                    </mat-form-field>
                    <div>
                      <mat-form-field class="form-group" style="left: 2.5em;">
                        <input matInput type="date" placeholder="From" formControlName="ug_from"  required>
                      </mat-form-field>
                      <mat-form-field class="form-group" style="left: 7.5em;">
                        <input matInput type="date" placeholder="To" formControlName="ug_to" required>
                      </mat-form-field>
                    </div>
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>

                  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       PG Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <mat-form-field style="left: 2.5em;">
                      <mat-label>College name</mat-label>
                      <input matInput placeholder="Panimalar Engineering College" formControlName="pg_college" required>
                    </mat-form-field>

                    <mat-form-field class="form-group" style="left: 7.5em;">
                      <mat-label>Degree</mat-label>
                      <mat-select required formControlName="pg_degree" >
                        <mat-option *ngFor="let pgdegree of pgdegrees" [value]="pgdegree.value">{{ pgdegree.name }}</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field style="left: 12.5em;">
                      <mat-label>Department</mat-label>
                      <input matInput placeholder="Automobile" formControlName="pg_dept" required>
                    </mat-form-field>

                    <mat-form-field style="left: 17.5em;">
                      <mat-label>Marks in %</mat-label>
                      <input matInput placeholder="80" formControlName="pg_marks" required>
                    </mat-form-field>

                    <div>
                      <mat-form-field class="form-group" style="left: 2.5em;">
                        <input matInput type="date" placeholder="From"  formControlName="pg_from" required>
                      </mat-form-field>
                      <mat-form-field class="form-group" style="left: 7.5em;">
                        <input matInput type="date" placeholder="To" formControlName="pg_to"  required>
                      </mat-form-field>
                    </div>
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>

                  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       PhD Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <mat-form-field style="left: 2.5em;">
                      <mat-label>College name</mat-label>
                      <input matInput placeholder="Panimalar Engineering College" formControlName="phd_college" required>
                    </mat-form-field>
                
                    <mat-form-field style="left: 7.5em;">
                      <mat-label>Degree</mat-label>
                      <input matInput placeholder="PhD" formControlName="phd_degree" required>
                    </mat-form-field>

                    <mat-form-field style="left: 12.5em;">
                      <mat-label>Department</mat-label>
                      <input matInput placeholder="" formControlName="phd_dept" required>
                    </mat-form-field>

                    <mat-form-field style="left: 17.5em;">
                      <mat-label>Marks in %</mat-label>
                      <input matInput placeholder="80" formControlName="phd_marks" required>
                    </mat-form-field>
                    <div>
                      <mat-form-field class="form-group" style="left: 2.5em;">
                        <input matInput type="date" placeholder="From"  formControlName="phd_from" required>
                      </mat-form-field>
                      <mat-form-field class="form-group" style="left: 7.5em;">
                        <input matInput type="date" placeholder="To" formControlName="phd_to" required>
                      </mat-form-field>
                    </div>
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">End</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                
                </mat-accordion>
              <!-- </mat-card-content>
            </mat-card> -->
            
            <div>
              <button mat-button matStepperPrevious style="left: 5em; top: 1.5em;">Back</button>
              <button mat-button matStepperNext style="left: 5em;top: 1.5em;">Next</button>
            </div>
    
            
          </form>
        </mat-step>

        <mat-step [stepControl]="forthFormGroup" label="Fill out your Previous Employment Details">
          <!-- #enddocregion label -->
            <form [formGroup]="forthFormGroup" #editform (ngSubmit)="editForm3(editform1)">
      
              <!-- <mat-card style="width: 40em; height: 16em;left: 3em; top: 6em;background-color: aliceblue;"> -->
                <mat-accordion class="example-headers-align">
                  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Current Employment Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                      <mat-form-field style="position: relative;left: 2.5em;">
                        <mat-label>Office Name</mat-label>
                        <input matInput placeholder="" formControlName="cur_office" required>
                      </mat-form-field>
                  
                      <mat-form-field style="position: relative;left: 7.5em;">
                        <mat-label>Job Profile</mat-label>
                        <input matInput placeholder="" formControlName="cur_profile" required>
                      </mat-form-field>
    
                      <mat-form-field style="position: relative;left: 12.5em;">
                        <mat-label>Technology Used</mat-label>
                        <input matInput placeholder="Java" formControlName="cur_tech" required>
                      </mat-form-field>

                      <mat-form-field class="form-group" style="left: 17.5em;">
                        <mat-label>Currently working</mat-label>
                        <mat-select required  formControlName="cur_working">
                          <mat-option value="yes">Yes</mat-option>
                          <mat-option value="no">No</mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="form-group" style="left: 22.5em;">
                        <mat-label>Notice Period</mat-label>
                        <mat-select required  formControlName="notice_period">
                          <mat-option value="2 Months">2 Months</mat-option>
                          <mat-option value="3 Months">3 Months</mat-option>
                        </mat-select>
                      </mat-form-field>
    
                    </div>
                    <div>
                      <mat-form-field class="form-group" style="left: 2.5em;">
                        <input matInput type="date" placeholder="From" formControlName="cur_from"  required>
                      </mat-form-field>
                      <mat-form-field class="form-group" style="left: 7.5em;">
                        <input matInput type="date" placeholder="To" formControlName="cur_to" required>
                      </mat-form-field>
                    </div>
                <!-- #docregion action-bar -->
                    <mat-action-row>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                <!-- #enddocregion action-bar -->
                  </mat-expansion-panel>
                
                  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Employment 1 Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <div>
                      <mat-form-field style="position: relative;left: 2.5em;">
                        <mat-label>Office Name</mat-label>
                        <input matInput placeholder="" formControlName="emp1_office" required>
                      </mat-form-field>
                  
                      <mat-form-field style="position: relative;left: 7.55em;">
                        <mat-label>Job Profile</mat-label>
                        <input matInput placeholder="" formControlName="emp1_profile" required>
                      </mat-form-field>
    
                      <mat-form-field style="position: relative;left: 12.5em;">
                        <mat-label>Technology Used</mat-label>
                        <input matInput placeholder="" formControlName="emp1_tech" required>
                      </mat-form-field>
    
                    </div>
                    <div>
                      <mat-form-field class="form-group" style="left: 2.5em;">
                        <input matInput type="date" placeholder="From" formControlName="emp1_from"  required>
                      </mat-form-field>
                      <mat-form-field class="form-group" style="left: 7.5em;">
                        <input matInput type="date" placeholder="To" formControlName="emp1_to" required>
                      </mat-form-field>
                    </div>
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                
                  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       Employment 2 Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <div>
                      <mat-form-field style="position: relative;left: 2.5em;">
                        <mat-label>Office Name</mat-label>
                        <input matInput  placeholder="" formControlName="emp2_office" required>
                      </mat-form-field>
                  
                      <mat-form-field style="position: relative;left: 7.55em;">
                        <mat-label>Job Profile</mat-label>
                        <input matInput  placeholder="" formControlName="emp2_profile" required>
                      </mat-form-field>
    
                      <mat-form-field style="position: relative;left: 12.5em;">
                        <mat-label>Technology Used</mat-label>
                        <input matInput  placeholder="" formControlName="emp2_tech" required>
                      </mat-form-field>
    
                    </div>
                    <div>
                      <mat-form-field class="form-group" style="left: 2.5em;">
                        <input matInput type="date" placeholder="From" formControlName="emp2_from"  required>
                      </mat-form-field>
                      <mat-form-field class="form-group" style="left: 7.5em;">
                        <input matInput type="date" placeholder="To" formControlName="emp2_to" required>
                      </mat-form-field>
                    </div>
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>

                  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       Employment 3 Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <div>
                      <mat-form-field style="position: relative;left: 2.5em;">
                        <mat-label>Office Name</mat-label>
                        <input matInput  placeholder="" formControlName="emp3_office" required>
                      </mat-form-field>
                  
                      <mat-form-field style="position: relative;left: 7.55em;">
                        <mat-label>Job Profile</mat-label>
                        <input matInput placeholder="" formControlName="emp3_prof" required>
                      </mat-form-field>
    
                      <mat-form-field style="position: relative;left: 12.5em;">
                        <mat-label>Technology Used</mat-label>
                        <input matInput placeholder="" formControlName="emp3_tech" required>
                      </mat-form-field>
    
                    </div>
                    <div>
                      <mat-form-field class="form-group" style="left: 2.5em;">
                        <input matInput type="date" placeholder="From" formControlName="emp3_from"  required>
                      </mat-form-field>
                      <mat-form-field class="form-group" style="left: 7.5em;">
                        <input matInput type="date" placeholder="To" formControlName="emp3_to" required>
                      </mat-form-field>
                    </div>
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>

                  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       Employment 4 Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <div>
                      <mat-form-field style="position: relative;left: 2.5em;">
                        <mat-label>Office Name</mat-label>
                        <input matInput placeholder="" formControlName="emp4_office" required>
                      </mat-form-field>
                  
                      <mat-form-field style="position: relative;left: 7.55em;">
                        <mat-label>Job Profile</mat-label>
                        <input matInput placeholder="" formControlName="emp4_prof" required>
                      </mat-form-field>
    
                      <mat-form-field style="position: relative;left: 12.5em;">
                        <mat-label>Technology Used</mat-label>
                        <input matInput placeholder="" formControlName="emp4_tech" required>
                      </mat-form-field>
    
                    </div>
                    <div>
                      <mat-form-field class="form-group" style="left: 2.5em;">
                        <input matInput type="date" placeholder="From" formControlName="emp4_from"  required>
                      </mat-form-field>
                      <mat-form-field class="form-group" style="left: 7.5em;">
                        <input matInput type="date" placeholder="To" formControlName="emp4_to"   required>
                      </mat-form-field>
                    </div>
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">End</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                
                </mat-accordion>
              <!-- </mat-card> -->
              <div>
                <button mat-button matStepperPrevious style="left: 5em; top: 1.5em;">Back</button>
                <button mat-button matStepperNext style="left: 5em;top: 1.5em;">Next</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="fifthFormGroup" label="Fill out your Project Details">
            <!-- #enddocregion label -->
              <form [formGroup]="fifthFormGroup" #editform (ngSubmit)="editForm4(editform1)">
        
                <mat-card style="width: 40em; height: 18em;left: 30em; top: 6em;background-color: aliceblue;">
                  <mat-card-content>
                    <div>
                      <mat-form-field>
                        <mat-label>Project Title</mat-label>
                        <input matInput placeholder="Project Title" formControlName="proj_title" required>
                      </mat-form-field>

                      <mat-form-field class="example-full-width"  required>
                        <mat-label>Project Description</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="proj_desc"></textarea>
                      </mat-form-field>

                    </div>
                    <!-- <mat-checkbox formControlName="same_address" style="position: relative;;left: 2em;" (change)="copyAddress()">Same as current address</mat-checkbox> -->
                  </mat-card-content>
                </mat-card>
                <div>
                  <button mat-button matStepperPrevious style="left: 32em; top: 1em;">Back</button>
                  <button mat-button matStepperNext style="left: 32em;top: 1em;">Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step label="Fill out your Other Details">
              <!-- <ng-template matStepLabel>Done</ng-template> -->
              <form [formGroup]="sixthFormGroup" #editform (ngSubmit)="editForm5(editform1)">
              <mat-card style="width: 54em; left: 25em; top: 4em;background-color: cornsilk;height: 27em;">
                <mat-card-content>
                  <mat-form-field class="example-chip-list" mat-raised-button
                  matTooltip="Click for more Skills"
                  aria-label="Button that displays a tooltip when focused or hovered over">
                    <mat-label>Skills</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                      <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                              [removable]="removable" (removed)="remove(fruit)">
                        {{fruit.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Add Skills..."
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                  </mat-form-field>
                  <mat-form-field class="example-full-width"  required>
                    <mat-label>About Yourself</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..." formControlName="about_yourself"></textarea>
                  </mat-form-field>

                <div class="upload-container" style="position: relative;left: -15em;">
                  <mat-label class="upload-label">Photograph</mat-label>
                  <input type="file" class="upload-input" (change)="onFileSelected($event)">
                  <!-- <button mat-raised-button color="primary" class="upload-button" >Upload</button> -->
                </div>
                <div class="upload-container"  style="position: relative; left: 15em; top: -102px;">
                  <mat-label class="upload-label">Resume</mat-label>
                  <input type="file" class="upload-input" (change)="onFileSelected1($event)">
                  <!-- <button mat-raised-button color="primary" class="upload-button" >Upload</button> -->
                </div>
                  <!-- <p>You are now done.</p> -->
                  <div style="position: relative; top: -3em;color: mediumblue;">
                    <button mat-button matStepperPrevious>Back</button>
                    <!-- <button mat-button (click)="stepper.reset()">Finish</button> -->
                    <button mat-button routerLink="/dashboard" routerLinkActive="active">Finish</button>
                  </div>
                </mat-card-content>
              </mat-card>
            </form>
            </mat-step>
  </mat-horizontal-stepper>